extends layout

block includedScripts
	script(type='text/javascript', src='bower/hammerjs/hammer.min.js')
	block gameIncludes
block bodyContent
	body(style="height: 100%;", onload="GameClient('#{connStr}')")
		block gameContent
		div#toast.container.ontop
			div.alert.alert-success
				h1(value='#{toastMsg}')
