extends layout

block includedScripts
	script(type='text/javascript' src='javascript/NgLobby.js')
	link(rel='stylesheet', href='stylesheets/lobby.css')
block bodyContent
	body(style='height: 100%;', onload="NgLobby('#{connStr}')")
		div.container
			nav(class="navbar navbar-default")
				div(class="container-fluid")
					div(class="navbar-header")
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand" href="/") Game Lobby
					div(id="navbar" class="navbar-collapse collapse")
						ul(class="nav navbar-nav")
							li(class="active")
								a(href="#") Home
							li
								a(href="#") Page 1
							li
								a(href="#") Page 2
							li
								a(href="#") Page 3
			h3.page-header YOUR user ID:
			div#userLabel.label.label-primary #{userID}
			h3.page-header Connected Users:
			div.panel.panel-default.divUsers
				div#divUsers.panel-body
			include partials/_footer
