doctype html
html(lang='en', style='height: 100%;')
	head
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no")
		meta(charset="UTF-8")
		title Games - #{title}
		script(src='lib/jquery/dist/jquery.min.js')
		script(src='socket.io/socket.io.js')
		script(src='javascript/bootstrap.min.js')
		link(rel='stylesheet', href='stylesheets/bootstrap.css')
		block includedScripts
	block bodyContent
