extends layout

block includedScripts
	script(src='javascript/NgLobby.js')
	link(rel='stylesheet', href='stylesheets/lobby.css')
block bodyContent
	body(style='height: 100%;', onload="NgLobby('#{connStr}')")
		div.container
			nav(class="navbar navbar-default")
				div(class="container-fluid")
					div(class="navbar-header")
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand" href="/") Game Lobby
					div(id="navbar" class="navbar-collapse collapse")
						ul(class="nav navbar-nav")
							li(class="active")
								a(href="#") Home
							li
								a(href="#") Game 1
							li
								a(href="#") Game 2
							li
								a(href="#") Game 3
			h3.page-header YOUR user ID:
			div#userLabel.label.label-primary #{userID}
			h3.page-header Connected Users:
			div.panel.panel-default.divUsers
				div.row
					div.col-md-8
						div#divChat.panel-body
								pre#chatText.pre-scrollable.chatText
								div.row.chatControl
									div.col-md-8
										input.form-control.chatInput
									div.col-md-4
										button.form-control.btn.btn-default.chatSend Send
					div.col-md-4
						div.panel-body
							h4.page-header Online Users
							span#usersOnlineSpan 0 users online
							div#divUsers
			h3.page-header Active Games:
			div.panel.panel-default.divGames
				div#divGames.panel-body
			include partials/_footer
