p Connected Users:

- for (var i=0; i<bodyContent.length; i++)
	a(href='#' class='btn btn-success btn-sm' role='button' data-toggle='popover' data-trigger='focus' title='user: #{bodyContent[i]}' data-content="<a href='#{bodyContent[i]}+#{userID}'>Play Snake!</a>") #{bodyContent[i]}