#toast {
  display: none;
  visibility: hidden;
}

.ontop {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}

#canvWrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}

#canvbg {
  border: 1px solid #000000;
  position: absolute;
  z-index: 0;
}

#canvfg {
  border: 1px solid #000000;
  position: absolute;
  z-index: 1;
}

#canvol {
  border: 1px solid #000000;
  position: absolute;
  z-index: 2;
}


@media (max-width: 619px) {
  #canvWrapper {
    margin: 0;
    height: 100%;
    width: 100%;
  }
}

/*  */
@media (min-width: 620px) {
  #canvWrapper {
    margin: 0;
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
  }
}

/*@media (min-width: 992px) {
  #canvWrapper {
    margin-top: 2%;
    margin-left: 20%;
    width: 60%;
  }
}*/
